@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
  h2 {
    font-size: 24px;
    font-weight: 500;
  }
}

/* Ant Design tabs overrides */
.ant-tabs-nav-wrap {
  gap: 0 !important;
}

.ant-tabs-tab {
  border-radius: 0 !important;
  border: 2px solid #1d4ed8 !important;
  margin-left: -2px !important;
}

.ant-tabs-nav::before {
  border-bottom: none !important;
}

.ant-tabs-tab-active {
  background: #1d4ed8 !important;
  color: #fff !important;
}

.ant-tabs-tab-active > .ant-tabs-tab-btn {
  color: #fff !important;
}
